header {
    padding: 30px;
    background-color: #36bcc563;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:  sans-serif;
    font-size: x-large;
    }
nav {
    background-color: #f1a20d60;
    padding: 5px;
    }
nav li {    
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    text-align: left;
    font-size: 100px;
    }
.konten {
    width: 100%;
     height: 550px;
     margin: auto;
      padding: 0;
      }
.konten1 {
    text-align: center;
    float: left;
    width: 15%;
    height: 2450px;
    padding: 0;
    background-color: rgb(208, 245, 252);
     }
.konten2 {
    text-align: center;
    float: right;
    width: 85%;
    height: 2450px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
}
footer {
    padding: 10px;
    background-color: #b64646;
    text-align: center;
    color: rgb(0, 0, 0);
    }
.img {
    text-align: center;
    width: auto;
}    
.a {
        text-decoration: none;
        cursor: pointer;
    transition: all o,5s ease;
    border-radius: 25px;
    color: white;
    border: none;
}
.a:hover {
        transform: translateY(4px);
    box-shadow: 0 10px 20px #b64646d8;;
}
  html {
    scroll-behavior: smooth;
  }
